header.header
	.header__logo
		h1.logo
			a(href="/") Traper
	.header__navigation
		//- nav
		//- 	button.navigation__expand(type="button")
		//- 		svg(xmlns:xlink="http://www.w3.org/1999/xlink")
		//- 			use(xlink:href="img/icons_sprite.svg#hamburger")
		//- 	ul
		//- 		li
		//- 			a(href="#") Home
		//- 		li
		//- 			a(href="#") Services
		//- 		li
		//- 			a(href="#") Cases
		//- 		li
		//- 			a(href="#") News
		//- 		li
		//- 			a(href="#") About Us
		//- 		li
		//- 			a(href="#") Jobs
		//- 		li
		//- 			a(href="#") Contact
