root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

# -------------------------------------------------------------------

# root - Значения: true, false. Специальная настройка, которая должна быть на самом верху конфига. Если установлена в true, парсер не будет искать другие конфиги родительских папках.
# indent_style - Значения: tab, space. Позволяет задать жесткую или мягкую табуляцию для отступов.
# indent_size - Значения: число. Позволяет задать ширину отступа использовании мягкой табуляции.
# tab_width - Значения: число. Позволяет задать ширину отступа использовании жесткой табуляции. Если не задано, возьмет значение из indent_size.
# end_of_line - Значения: lf, cr, crlf. Позволяет выбрать, что использовать на концах строк.
# insert_final_newline - Значения: true, false. Позволяет убедиться, что в конце файла всегда будет новая строка.
# trim_trailing_whitespace - Значения: true, false. Позволяет убрать пробелы из концов строк.
