//- https://dribbble.com/shots/4974531-Traper-Per-Web-Travel
doctype html
html(lang="es-PE")

	head

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="format-detection", content="telephone=no")

		meta(name="robots", content="noindex, nofollow, noarchive")
		meta(name="googlebot", content="noindex, nofollow, noarchive")
		meta(name="yandex", content="noindex, nofollow, noarchive")

		meta(name="description", content="")
		meta(name="keywords", content="")

		title Traper

		style
			include ../styles/preloader.css
		script
			include ../scripts/preloader.js

		<!--[if IE 9]>
		script(src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js")
		script(src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js")
		<![endif]-->

		link(rel="stylesheet", href="css/lib.min.css")
		link(rel="stylesheet", href="css/app.min.css")


	body

		.container
			include components/header
			main.main
				block content
		.author Original <a href="https://dribbble.com/shots/4974531-Traper-Per-Web-Travel" target="_blank">design</a> by <a href="https://dribbble.com/pauljonathan" target="_blank">Paul Jonathan</a>.


		//- script(src="js/lib.min.js")
		script(src="js/app.min.js")
