mixin svg(name)
	svg&attributes(attributes)
		use(xlink:href=`${baseDir}images/sprites.svg#${name}`)

//- https://github.com/ninelines-team/ninelines-docs/blob/master/07_images.md#%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0-%D1%81-svg-%D1%81%D0%BF%D1%80%D0%B0%D0%B9%D1%82%D0%B0%D0%BC%D0%B8
