nav.media__navigation

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Ciudad de&nbsp;Cusco
			br
			em Primer paso en&nbsp;la&nbsp;ciudad

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Ollantaytambo
			br
			em Segundo tramo en&nbsp;bus

	span.navigation__item.navigation__item_image
		a.navigation__link(href="#")
			img(src="https://instagram.fhel6-1.fna.fbcdn.net/vp/c51570266c9a2d40496b1fa332badb62/5C847242/t51.12442-15/sh0.08/e35/p640x640/45345034_206174366974363_1249288251480557160_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net", alt="Ciudad de Cusco")
		a.navigation__link(href="#")
			img(src="https://instagram.fhel6-1.fna.fbcdn.net/vp/fd256fe6dc053672c19e27d8a6560deb/5C848983/t51.12442-15/sh0.08/e35/p640x640/45580795_522880574889879_823505559733910299_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net", alt="Machu Picchu")

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Aguas Calientes
			br
			em El&nbsp;final tramo que solo va&nbsp;tren

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Machu Picchu
			br
			em A&nbsp;pie o&nbsp;bus 30&nbsp;minutos
