nav.media__navigation

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Ciudad de&nbsp;Cusco
			br
			em Primer paso en&nbsp;la&nbsp;ciudad

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Ollantaytambo
			br
			em Segundo tramo en&nbsp;bus

	span.navigation__item.navigation__item_image
		a.navigation__link(href="#")
			img(src="img/video_01_poster.jpg", alt="Ciudad de Cusco")
		a.navigation__link(href="#")
			img(src="img/video_04_poster.jpg", alt="Machu Picchu")

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Aguas Calientes
			br
			em El&nbsp;final tramo que solo va&nbsp;tren

	span.navigation__item.navigation__item_text
		a.navigation__link(href="#")
			strong Machu Picchu
			br
			em A&nbsp;pie o&nbsp;bus 30&nbsp;minutos
