.media__content.is-hidden

	.video.is-hidden
		.video__media
			video(poster="img/video_01_poster.jpg", preload="auto", loop)
				source(src="video/video_01.mp4", type="video/mp4")
		.video__headline
			strong Ciudad de&nbsp;Cusco
			em Primer paso en&nbsp;la&nbsp;ciudad

	.video.is-hidden
		.video__media
			video(poster="img/video_02_poster.jpg", preload="auto", loop)
				source(src="video/video_02.mp4", type="video/mp4")
		.video__headline
			strong Ollantaytambo
			em Segundo tramo en&nbsp;bus

	.video.is-hidden
		.video__media
			video(poster="img/video_03_poster.jpg", preload="auto", loop)
				source(src="video/video_03.mp4", type="video/mp4")
		.video__headline
			strong Ciudad de&nbsp;Cusco
			em Primer paso en&nbsp;la&nbsp;ciudad

	.video.is-hidden
		.video__media
			video(poster="img/video_04_poster.jpg", preload="auto", loop)
				source(src="video/video_04.mp4", type="video/mp4")
		.video__headline
			strong Machu Picchu
			em A&nbsp;pie o&nbsp;bus 30&nbsp;minutos

	.video.is-hidden
		.video__media
			video(poster="img/video_05_poster.jpg", preload="auto", loop)
				source(src="video/video_05.mp4", type="video/mp4")
		.video__headline
			strong Aguas Calientes
			em El&nbsp;final tramo que solo va&nbsp;tren

	.video.is-hidden
		.video__media
			video(poster="img/video_06_poster.jpg", preload="auto", loop)
				source(src="video/video_06.mp4", type="video/mp4")
		.video__headline
			strong Machu Picchu
			em A&nbsp;pie o&nbsp;bus 30&nbsp;minutos

	button.button.is-hidden#closeMediaContent(type="button")
		svg(xmlns:xlink="http://www.w3.org/1999/xlink")
			use(xlink:href="img/icons_sprite.svg#close")
