.place

	.place__description
		h2.place__headline Discover Cusco
		.place__content
			p Para acceder a&nbsp;Machu Picchu por el&nbsp;principal camino inciao, se&nbsp;debe caminar dyrante tres dias y&nbsp;recorrer un&nbsp;total 42&nbsp;kilometros. A&nbsp;pesar de&nbsp;la&nbsp;limitacion diaria de&nbsp;viandantes y&nbsp;de&nbsp;la&nbsp;ausencia intercional de&nbsp;carreteras directas hasta las ruinas arqueologicas.

	.place__photo
		img.place__image(src="img/place_01.jpg", alt="Machu Picchu")

	.place__media
		include media_navigation
		include media_content

		button.button#showMediaNavigation(type="button")
			span Ver mas rutas

	.place__title
		strong Descubre su&nbsp;Historia
		span Exploremos
